
<%= link_to 'Nuevo Artículo', new_articulo_path, class: "btn btn-success" %>

<h1>Listando Artículos</h1>

<div class="row">

  <div class="col-md-6">
 
    <table class="table table-hover">
      <tr>
        <th>Titular</th>
        <th>Conenido</th>
        <th></th>
        <% if user_signed_in? %>
          <th></th>
          <th></th>
        <% end %>
      </tr>
     
      <% @articulos.each do |articulo| %>
        <tr>
          <td><%= articulo.titular %></td>
          <td><%= articulo.contenido %></td>
          <td><%= link_to 'Ver', articulo_path(articulo), class:"btn btn-primary" %></td>
          <% if user_signed_in? %>
            <td><%= link_to 'Editar', edit_articulo_path(articulo), class:"btn btn-success" %></td>

            <td><%= link_to 'Borrar', articulo_path(articulo),
                  method: :delete,
                  data: { confirm: '¿Estás seguro?' }, class:"btn btn-danger"  %></td>
          <% end %>
                  
        </tr>
      <% end %>
    </table>

  </div>

</div>